.container iframe
{
    width:100%;
}
.col div
{
    display:flex;
    align-items:center;
    margin-bottom:40px;
}
.col div .fa
{
    margin:10px;
    margin-right:30px;
    color:#ff69b4;
    font-size:28px;
}
.col div h5
{
    margin-bottom:5px;
    color:#555555;
    font-weight:400;
}
.col input, .col textarea
{
    box-sizing:border-box;
    margin-bottom:17px;
    outline:none;
    border:1px solid #cccccc;
    padding:15px;
    width:100%;
}