.footer
{
    padding:30px 0px;
    width:100%;
    text-align:center;
}
.footer h6
{
    margin-top:20px;
    margin-bottom:25px;
    color:#000000;
    font-weight:600;
}
.footer a
{
    color:#ff69b4;
}
.icons .fa
{
    margin:0px 13px;
    cursor:pointer;
    padding:18px 0px;
    color:#ff69b4;
}
.fa-heart-o
{
    color:#ff69b4;
}