.background
{
    background-color:black;
    background-position:center;
    background-size:cover;
    width:100%;
    height:50px;
    text-align:center;
    color:white;
}
nav
{
    display:flex;
    position:absolute;
    left:50%;
    align-items:center;
    justify-content:space-between;
    transform:translate(-50%, 0%);    
    width:80%;
}
nav a
{
    text-decoration:none;    
    color:#ff69b4;
}
.nav-links
{
    flex:1;
    text-align:right;
}
.nav-links ul li
{
    display:inline-block;
    position:relative;
    padding:8px 12px;
    list-style:none;
}
.nav-links ul li a
{
    text-decoration:none;
    color:#ffffff;
    font-size:13px;
}
.nav-links ul li::after
{
    display:block;
    transition:0.5s;
    margin:auto;
    background:#ff69b4;
    width:0%;
    height:2px;
    content:'';
}
.nav-links ul li:hover::after
{
    width:100%
}

nav .fa
{
    display:none;
}

@media(max-width:700px)
{
    nav
    {
        position:unset;
        left:unset;
        transform:unset;
        padding:0% 5%;
        width:unset;
    }
    .nav-links
    {
        position:fixed;
        top:0px;
        right:-200px;
        transition:1s;
        z-index:2;
        background:#ff69b4;
        width:200px;
        height:100vh;
        text-align:left;    
    }
    .nav-links ul li
    {
        display:block;
    }   
    nav .fa
    {
        display:block;
        margin:10px;
        cursor:pointer;
        color:#ffffff;
        font-size:22px;

    }
    .nav-links ul
    {
        padding:30px;
    }
}